doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/main.css")
        title profile2
    body 
        header
            nav
                ul
                    li
                        a(href="/") Home
                    li#login
                        a(href="/login") Login
                    li
                        a(href="/register") Register
        main.profile 
            h2 Welcome this is your profile 
            img(src="./images/undraw_female_avatar_efig.svg", alt="")
           
        footer
            p &copy; 2023